@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #18181b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4f607a;
  border-radius: 999px;
}

/* In your global CSS file */
.modal-enter {
  opacity: 0;
  transform: scale(0.95);
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms, transform 200ms;
}